.cost-form {
  max-width: 600px;
}
.container {
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
}
.left-section,
.middle-section {
  flex: 1;
  padding: 20px;
}
.right-section {
  flex: 2;
  padding: 20px;
}
.section {
  border: 1px solid #4442;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 12px;
}
.section.grid.face {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4px;
}
.section.grid.grip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4px;
}
.section.grid.fingertricks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4px;
}
label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
input {
  width: 50px;
  text-align: right;
}
h2 {
  margin-top: 16px;
  border-bottom: 1px solid #aaa;
}
.breakdown-table {
  font-size: 18px;
  width: 300px;
  border-collapse: collapse;
}
.breakdown-table th {
  text-align: left;
  padding: 4px 8px;
}
.breakdown-table td {
  text-align: left;
  padding: 4px 8px;
}

.stats-table {
  font-size: 15px;
  width: 600px;
  border-collapse: collapse;
}
.stats-table th {
  text-align: left;
  padding: 4px 8px;
}
.stats-table td {
  text-align: right;
  padding: 4px 8px;
}